

#define FN_SIZE   14

*.font:           xft:Hack Nerd Font Mono:style=Regular:size=FN_SIZE
*.boldFont:       xft:Hack Nerd Font Mono:style=Bold:size=FN_SIZE
*.italicFont:     xft:Hack Nerd Font Mono:style=Italic:size=FN_SIZE
*.boldItalicFont: xft:Hack Nerd Font Mono:style=Bold Italic:size=FN_SIZE

! TERMINAL COLORS
#include "/home/rayanm/.Xresources.d/gruvbox-urxvt256.xresources"
#include "/home/rayanm/.Xresources.d/gruvbox-dark.xresources"

! PROGRAM SPECIFIC FILES
#include "/home/rayanm/.xres/urxvt"
#include "/home/rayanm/.xres/xterm"
